@charset "UTF-8";

*{ /*RESERT total do projeto*/
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh; /*(vh) altura total*/
    width: 100vw;  /*(vw) largura total*/
    background-color: black;
}

body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed; /*para ter rolagem*/
}
main {
    position: relative;
    height: 100vh;
   
}

#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    height: 627px;
    width: 311px;
    background:  url('../imagens/frame-iphone.png') no-repeat;
}

#tela{
    position: relative;
    top: 80px;
    left: 21px;
    width: 268px;
    height: 472px;
}

.rede_social{
    text-align: right;
}

.rede_social img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.418);
    box-sizing: border-box; /*agora a borda faz parte da caixa*/
}

.rede_social img:hover{
    border: 2px solid rgba(255, 255, 255, 0.712);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.433);
    transition: transform .3s border 1s;
}
